.DS_Store

# Compiled site
_site

# Sass garbage
.sass-cache

# Bundler
.bundle/
vendor/

#
LICENSE.md
_posts/2019-02-07-java-in-vsc.md
_posts/2019-02-07-image-hosting.md
_posts/2019-02-18-s3-upload.md