{% if site.dark_theme_toggle == true %}
<input id="toggle_dark_theme" class="tgl tgl-light" type="checkbox">
<label for="toggle_dark_theme" class="tgl-btn"></label>
{% endif %}

<script>
  const $checkbox = document.querySelector('#toggle_dark_theme')

  window.onload = () => {
    if (getUserTheme() === 'dark') {
      $checkbox.setAttribute('checked', true)
    }
  }

  $checkbox.addEventListener('click', e => {
    if (e.target.checked) {
      localStorage.setItem('color-theme', 'dark')
      document.documentElement.setAttribute('color-theme', 'dark')
    } else {
      localStorage.setItem('color-theme', 'light')
      document.documentElement.setAttribute('color-theme', 'light')
    }
  })
</script>