<script>
  const isUserColorTheme = localStorage.getItem('color-theme')
  const isOsColorTheme = window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light'
  const getUserTheme = () => (isUserColorTheme ? isUserColorTheme : isOsColorTheme)

  if (getUserTheme() === 'dark') {
    localStorage.setItem('color-theme', 'dark')
    document.documentElement.setAttribute('color-theme', 'dark')
  } else {
    localStorage.setItem('color-theme', 'light')
    document.documentElement.setAttribute('color-theme', 'light')
  }
</script>