<header class="navigation" role="banner">
	<div class="navigation-wrapper">
		<a href="{{ site.baseurl }}/" class="logo">
			{% if site.logo %}
			<img src="{{ site.logo | prepend: site.baseurl }}" alt="{{ site.title }}" />
			{% else %}
			<span>{{ site.title }}</span>
			{% endif %}
		</a>
		<a href="javascript:void(0)" class="navigation-menu-button" id="js-mobile-menu">
			<i class="fa fa-bars"></i>
		</a>

		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu">
				<li class="nav-link"><a href="/about/">About</a></li>
				<li class="nav-link"><a href="/posts/">Posts</a></li>
				<li class="nav-link">
					<a data-micromodal-trigger="modal-1" href="#">
						<i class="xi-search"></i>
					</a>
				</li>
				<li class="nav-link">
					{% include dark_theme_toggle.html %}
				</li>
			</ul>
		</nav>
	</div>
	
<!-- Search bar -->
{% include search_bar.html %}

<!-- Mobile Menu Toggle -->
{% include mobile_menu_toggle.html %}
</header>
