<header class="navigation" role="banner">
	<div class="navigation-wrapper">
		<a href="{{ site.baseurl }}/" class="logo">
			{% if site.logo %}
			<img
				src="{{ site.logo | prepend: site.baseurl }}"
				alt="{{ site.title }}"
			/>
			{% else %}
			<span>{{ site.title }}</span>
			{% endif %}
		</a>
		<a
			href="javascript:void(0)"
			class="navigation-menu-button"
			id="js-mobile-menu"
		>
			<i class="fa fa-bars"></i>
		</a>

		<nav role="navigation">
			<ul id="js-navigation-menu" class="navigation-menu show">
				<li class="nav-link"><a href="/about/">About</a></li>
				<li class="nav-link"><a href="/posts/">Posts</a></li>
				<li class="nav-link"><a href="/works">Works</a></li>
				<li class="nav-link">
					<a href="#">
						<i class="xi-search" onclick="searchBar()"></i>
					</a>
				</li>
			</ul>
		</nav>
	</div>

	<!-- Html Elements for Search -->
	<div id="search-container" style="display: none; color: #278187;">
		<input type="text" id="search-input" placeholder="Enter the keyword" />
		<ul id="results-container"></ul>
	</div>

	<!-- Search bar -->
	{% include search-bar.html %}
</header>
