<!-- <script> TODO:
  const linkElement = document.createElement('link')
  linkElement.rel = 'stylesheet'
  if (getUserTheme() === 'dark') {
    linkElement.title = 'dark'
    linkElement.href = 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark-dimmed.min.css'
  } else {
    linkElement.title = 'light'
    linkElement.href = 'https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github.min.css'
  }
  document.querySelector('.page-content').appendChild(linkElement)
</script> -->
<link rel="stylesheet" title="dark" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/styles/github-dark-dimmed.min.css">
<script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.6.0/highlight.min.js"></script>

<script type="text/javascript">
  $(document).ready(() => {
    hljs.configure({ ignoreUnescapedHTML: true })
    hljs.highlightAll()
    // document.querySelectorAll('code.highlighter-rouge').forEach(el => hljs.highlightElement(el))
  })
</script>
