<script>
  function getTOCNodes(master) {
    const nodes = Array.prototype.slice.call(master.getElementsByTagName("*"), 0)
    const tocNodes = nodes.filter(function (elem) {
      return elem.tagName == 'A'
    })
    return tocNodes
  }
  function getHeaderNodes(master) {
    const nodes = Array.prototype.slice.call(master.getElementsByTagName('*'), 0)
    const headerNodes = nodes.filter(function (elem) {
      return elem.tagName == 'H1' || elem.tagName == 'H2' || elem.tagName == 'H3' || elem.tagName == 'H4' || elem.tagName == 'H5' || elem.tagName == 'H6'
    })
    return headerNodes
  }

  const title = document.getElementsByClassName('title')[0]
  let titleY = window.pageYOffset + title.getBoundingClientRect().top

  const article = document.getElementsByClassName('post-article')[0]
  let articleY = window.pageYOffset + article.getBoundingClientRect().top

  const toc = document.getElementsByClassName('toc')[0]

  const headerNodes = getHeaderNodes(article)
  const tocNodes = getTOCNodes(toc)

  let before = undefined

  document.addEventListener('scroll', e => {
    if (window.scrollY >= articleY - 60) {
      toc.style.cssText = 'position: fixed; top: 60px;'
    }
    else {
      toc.style.cssText = ''
    }

    let current = headerNodes.filter(header => {
      let headerY = window.pageYOffset + header.getBoundingClientRect().top
      return window.scrollY >= headerY - 60
    });


    if (current.length > 0) {
      current = current[current.length - 1]

      let currentA = tocNodes.filter(tocNode => {
        return tocNode.innerHTML == current.innerHTML
      })

      currentA = currentA[0];
      if (currentA) {
        if (before === undefined) {
          before = currentA
        }

        if (before !== currentA) {
          before.classList.remove('toc-active')
          before = currentA
        }

        currentA.classList.add('toc-active')
      }
      else {
        if (before) {
          before.classList.remove('toc-active')
        }
      }
    }
    else {
      if (before) {
        before.classList.remove('toc-active')
      }
    }

  }, false)
</script>