kbd {
  background-color: #f6f8fa;
  color: $dark-gray;
  border-radius: 0.25rem;
  border: 1px solid rgba(175,184,193,0.2);
  box-shadow: 0 2px 0 1px rgba(175,184,193,0.2);
  font-family: var(--font-family-sans-serif);
  font-size: 0.75em;
  line-height: 1;
  min-width: 0.75rem;
  display: block;
  text-align: center;
  padding: 2px 5px;
  position: relative;
  top: -1px;
  display: inline-block;
}