.progress-bar {
    background: linear-gradient(to right, $action-color var(--scroll), transparent 0);
    background-repeat: no-repeat;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    height: 3px;
    z-index: 9000;
}